*{
  margin            :0;
  padding           :0;
  box-sizing        :border-box;
}

.card-height {
  min-height         : 100;
}

.center-crop{
  object-fit: none;
  object-position: center;
  min-height: 240px !important;
  width: 100 !important;
}